<!-- OneWayDataBinding: PropertyBinding -->
<app-navigation [appTitle]="myTitle" (search)="onSearch($event)"></app-navigation>

<div class="container" id="main">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron mt-3">
        <!-- OneWayDataBinding: Interpolation -->
        <h1 class="display-4">{{ myTitle }}</h1>
        <p class="lead">{{ subTitle }}</p>
        <hr class="my-4">
        <p>Search: {{ phrase }}</p>
        <!-- OneWayDataBinding: EventBinding -->
        <!-- Class binding with ngClass. -->
        <button
          (click)="showGreeting()"
          [ngClass]="buttonClass"
          class="btn btn-lg"
          role="button">
            Learn more
        </button>

        <!-- TwoWayDataBinding: ngModel -->
        <input [(ngModel)]="userName" type="text" class="form-control mt-3">
        {{ userName }}
      </div>
    </div>
  </div>
</div>
